/* 
 * Sequence Retrieval Form
 */
#mainlab-feature-seq-extract-form-table {
  border-collapse: collapse;
  border: 0px solid #DDDDDD;
  border-spacing: 0;  
  margin: 1em 0;
  width: auto;
}
#mainlab-feature-seq-extract-form-table tr {
  background-color: transparent;
  border: 0px solid #CCCCCC;
  padding: 0.1em 0.6em;  
}
#mainlab-feature-seq-extract-form-table td {
  border: 0px solid #DDDDDD;
  padding: 0.25em 0.5em;
  vertical-align: top;
}
#mainlab-feature-seq-extract-form-table .form-item {
  white-space: normal;
}
